.footer8-container {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.footer8-max-width {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.footer8-content {
  gap: var(--dl-space-space-fourunits);
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-twounits);
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius4);
}
.footer8-newsletter {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 440px;
  height: 325px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  margin-right: 90px;
  flex-direction: column;
}
.footer8-content-title1 {
  text-transform: capitalize;
}
.footer8-text01 {
  font-style: italic;
  font-weight: 700;
}
.footer8-text04 {
  font-style: italic;
  font-weight: 600;
}
.footer8-text06 {
  font-style: normal;
  font-weight: 300;
}
.footer8-text07 {
  font-style: normal;
  font-weight: 300;
}
.footer8-text09 {
  font-style: italic;
  font-weight: 600;
}
.footer8-content1 {
  text-transform: capitalize;
}
.footer8-text10 {
  font-style: normal;
  font-weight: 600;
  text-transform: capitalize;
}
.footer8-text11 {
  text-transform: capitalize;
}
.footer8-credits {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.footer8-row {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: space-between;
}
.footer8-footer-links {
  gap: 24px;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: flex-start;
}
.footer8-root-class-name {
  background-image: linear-gradient(90deg, rgb(189, 195, 199) 0.00%,rgb(143, 155, 170) 100.00%);
}
@media(max-width: 991px) {
  .footer8-newsletter {
    width: 300px;
  }
}
@media(max-width: 767px) {
  .footer8-content {
    flex-direction: column;
  }
  .footer8-newsletter {
    width: 100%;
  }
  .footer8-row {
    gap: 0;
    flex-direction: column;
    justify-content: space-between;
  }
}
@media(max-width: 479px) {
  .footer8-credits {
    gap: 0;
  }
  .footer8-row {
    gap: var(--dl-space-space-oneandhalfunits);
    align-items: center;
    justify-content: center;
  }
  .footer8-footer-links {
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
}
